*.pyc
samples.py
weights.py
makeTemplates/templates_*
makeTemplates/kinematics_*
makeTemplates/log/*
makeTemplates/cfg/*
combineLimits/limits_*
combineLimits/log/*
combineLimits/cfg/*
combineLimits/HTcomb/*
combineLimits/impacts_*
plotShapeShifts/templates_*
plotShapeShifts/kinematics_*
optimization/templates_*
*.root
